body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif; 
}
header {
  min-height: 78px;
  width: 100vw;
  background-color: #333333;
  color: silver;
  font-size: 2em;
  padding: 15px 20px;
}
section {
  height: calc(100% - 78px);
  background-image: linear-gradient(to bottom right, white, rgb(178, 192, 185));
  padding-top: 27px;
}
footer {
  display: flex;
}
footer .right {
  display: flex;
  justify-content: flex-end;
  width: 67%;
}
footer .left {
  display: flex;
  justify-content: flex-start;
  width: 33%;
}
button {
  margin-left: 15px;
  width: 53px;
}
#clear {
  align-self: flex-start;
  margin-left: 0;
}
.content {
  color: #666;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
}
.label {
  font-weight: 600;
  font-size: 1.6rem;
}
.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  padding: 40px;
  display: none;
  justify-items: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}
.alert {
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.question-button {
  float: right;
  display: flex;
  align-items: center;
  min-height: 48px;
}
.information {
  position: absolute;
  top: 87px;
  right: 10px;
  background-color: #333333;
  border-radius: 6px;
  color: silver;
  font-size: 0.5em;
  padding: 10px;
  opacity: 0;
  transition: opacity .3s;
}
.information::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-right: 27px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333333 transparent;
}
.information ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .notification {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 0;
    display: block;
    opacity: 1;
    transition: none;
  }
}