body {
  font-family: 'Montserrat', sans-serif;
}
footer {
  display: flex;
}
footer .right {
  display: flex;
  justify-content: flex-end;
  width: 67%;
}
footer .left {
  display: flex;
  justify-content: flex-start;
  width: 33%;
}
button {
  margin-left: 15px;
  width: 53px;
}
#clear {
  align-self: flex-start;
  margin-left: 0;
}
.content {
  color: #666;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  flex-direction: column;
  max-width: 600px;
}
.label {
  font-weight: 900;
  font-size: 1.3rem;
}
