body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif; 
}
header {
  min-height: 78px;
  width: 100vw;
  background-color: #333333;
  color: silver;
  font-size: 2em;
  padding: 15px 20px;
}
section {
  height: calc(100% - 78px);
  background-image: linear-gradient(to bottom right, white, rgb(178, 192, 185));
  padding-top: 27px;
}
footer {
  display: flex;
}
footer .right {
  display: flex;
  justify-content: flex-end;
  width: 67%;
}
footer .left {
  display: flex;
  justify-content: flex-start;
  width: 33%;
}
button {
  margin-left: 15px;
  width: 53px;
}
#clear {
  align-self: flex-start;
  margin-left: 0;
}
.content {
  color: #666;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
}
.label {
  font-weight: 600;
  font-size: 1.6rem;
}
.alert {
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
